{% extends 'goods/base.html'%}
{% load static from staticfiles %}
	{% block title %}<title>天天生鲜-首页</title>{% endblock %}
    {% block js %}
	<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/slide.js' %}"></script>
    {% endblock %}
    {% block main %}
        <div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">全部商品分类</h1>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="center_con clearfix">
		<ul class="subnav fl">
            {% for tp in goods_type %}
			<li><a href="#model0{{ forloop.counter }}" class="{{ tp.goods_logo }}">{{ tp.type_name }}</a></li>
	        {% endfor %}
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
                {% for i in good_activity %}
				<li><a href="#"><img src="{{ i.Activity_img.url }}" alt="幻灯片"></a></li>
                {% endfor %}
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
            {% for sale in sales %}
			<a href="{{ sale.promotion_addr }}"><img src="{{ sale.promotion_img.url }}"></a>
            {% endfor %}
		</div>
	</div>
    {% for i in goods_type %}
	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model01">{{ i.type_name }}</h3>
			<div class="subtitle fl">
				<span>|</span>
                {% for zi in i.wenzi %}
				<a href="#">{{ zi.goods_sku_id.goods_name }}</a>
                    {% endfor %}
			</div>
			<a href="#" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="{{ i.type_img.url }}"></div>
			<ul class="goods_list fl">
                {% for pt in i.photo %}
				<li>
					<h4><a href="#">{{ pt.goods_sku_id.goods_spu_id.goods_name }}</a></h4>
					<a href="#"><img src="{{ pt.goods_sku_id.goods_img.url }}"></a>
					<div class="prize">¥ {{ pt.goods_sku_id.goods_price }}</div>
				</li>
			    {% endfor %}
				</li>
			</ul>
		</div>
	</div>
    {% endfor %}

{% endblock %}


